package html

templ Nav() {<!DOCTYPE html>
<nav class="sidebar">
  <h2>Accounts</h2>
  <div class="nav-item">
      <a href="/account/new" class="nav-link" hx-target="body" hx-push-url="true">New</a>
  </div>

  <div class="nav-item">
      <a href="/account" class="nav-link" hx-target="body" hx-push-url="true">Get</a>
  </div>
</nav>
}

